################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RecHub2.0/FileContentIndex/bad5bdff-e949-4935-9be9-a9adefd81af1.vsidx
